@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* body */

body {
    font-family: Nunito, serif;
    background: linear-gradient(0deg, rgb(148,7,65) 0%, rgb(195,8,63) 100%);
}

.red {
    background: red;
}

.navbar-toggler {
    color: rgb(207, 189, 189);
}

/* card */

.card {
    background: linear-gradient(0deg, rgb(46,17,21) 0%, rgb(79,27,29) 100%);
    color: rgb(255, 255, 255);
}

.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* logo */

.navbar-brand img{
    width: 70px;
}

.nav-link {
    color: white;
}
.nav-item .nav-link.active {
    color: rgb(187, 187, 187);
}

/* info */

.sidebar {
    background-color: rgb(111,34,50);
}

.sidebar p{
    color: white;
}

/* slide */

.slide-text {
    color: rgb(255, 206, 206);
    margin: auto auto;
    font-size: 50px;
}

/* footer */

footer {
    background-color: rgb(43,48,53);
    color: white;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}